<footer class="Footer">
  <ul class="Footer__socialIcons">
    <li class="Footer__socialIcon">
      <a class="Footer__socialIconLink" href="mailto:gmg@gmg.is">
        <i class="Footer__fontAwesomeIcon fa fa-envelope"></i>
      </a>
    </li>
    <li class="Footer__socialIcon">
      <a class="Footer__socialIconLink" href="//github.com/gudmundurmar"><i class="Footer__fontAwesomeIcon fa fa-github"></i></a>
    </li>
    <li class="Footer__socialIcon">
      <a class="Footer__socialIconLink" href="//twitter.com/gudmundurmar"><i class="Footer__fontAwesomeIcon fa fa-twitter"></i></a>
    </li>
  </ul>
</footer>