<header class="Header">
  <ul class="Header__menu">
    <header-links v-for="message in messages" v-if="message.path != this.location.pathname" :message='message' :isactive='isactive' :notactive='notactive' :clicked='clicked' :active='active' baseurl="{{site.baseurl}}">
    </header-links>
  </ul>
  {% if page.url != '/' %}
    <h1 v-bind:class="['Header__title', false && 'Header--topbar']">
      GMG.is{%raw%}{{ path }}{%endraw%}<span class="Header__cursor">|</span>
    </h1>
  {% endif %}
</header>