
body {
	font-family: Helvetica; 
	background-color: #201F1D;
	background-color: #ffc300;
}
h1 {
	color: #201F1D;
}
.appRoot {
    padding: 10px;
}
.cart {
    border: 2px solid red;
    padding: 10px;
}
.item {
    border: 2px solid green;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 5px 0 5px 0;
}
