.GMGFace {
	display: flex;
	height: 20vh;
	fill:$secondary-color;
	fill-rule:evenodd;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
	transform-origin: center bottom;
}

.GMGFace__rightEye {
	transform-origin: center;
	animation: raise-eyebrow 1s 2s ease-in 1;
	animation-play-state: running;
}
.GMGFace__rightEye:hover {
	animation-play-state: running;
}
@keyframes raise-eyebrow {
	20% {
		transform: translateY(-7px) translateX(2px) rotateZ(2deg) scale(0.98);
	}
	70% {
		transform: translateY(-7px) translateX(2px) rotateZ(2deg) scale(0.98);
	}
	90% {
		transform: translateY(0px) translateX(0px) rotateZ(0deg) scale(1);
	}
}