.Header {
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 10;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  border-width: 0 0 1px;
  border-radius: 0;
  flex-direction: column;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  font-size:1.3rem;
  @media screen and (max-width: 786px) {
    font-size: 4vw;
  }
}


.Header__title {
  margin: 0;
  padding: 0px 20px 10px;
  font-size: 2rem;
  color: hsl(0,100%,69%);
  font-weight: 700;
  transition: all 0.5s ease-in;
}

.Header__cursor {
  margin-top: -0.1em;
  position: absolute;
  animation: cursor-blink 1s step-start infinite;
  transform-origin: center bottom;
}


.Header__menu {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 15px 0;
  padding: 0.5em 0;
}

.Header__linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 0.5em;
  margin: 0 0.5em;
  color: #428bca;
  border-shadow: inset 0 0 0 2px blue;
  position: relative;
  transition: color 0.25s;
  @media screen and (max-width: 786px) {
    margin: 0;
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    box-sizing: border-box;
    content: '';
    position: absolute;
    border-radius: 3px;
  }
}

@media (pointer:fine) {
  .Header__linkContainer--active {
    color: red;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
  }

  .Header__linkContainer--active::before,
  .Header__linkContainer--active::after {
    width: 100%;
    height: 100%;
  }

  .Header__linkContainer--active::before {
    border-top-color: red;
    border-right-color: red;
    transition: width 0.25s ease-out,
      height 0.25s ease-out 0.25s;
  }

  .Header__linkContainer--active::after {
    border-bottom-color: red;
    border-left-color: red;
    transition: 
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s,
  }
}