
// start content

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0;
}

html, body, #app {
  height:100%;
  color: #428bca;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  line-height: 1.1;
  padding: 10px 0;
}

p {
  line-height: 1.4;
}

a {
  color: #17baef;
  background-color: transparent;
  text-decoration: none;
  border-bottom: transparent 1px solid;
}
a:focus,
a:hover {
  text-decoration: none;
  color: red;
  border-bottom: red 1px solid;
}
a:visited {
  text-decoration: none;
}
.checkbox {
  list-style-type: none;
}

#content {
  min-height: 80%;
  padding: 9rem 40px 40px;
  max-height: 100%;
  overflow-y: scroll;
  @media screen and (max-width: 786px) {
    padding: 8em 40px 40px;
  }
}

@keyframes cursor-blink {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
}
