.Tags__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  justify-content: stretch;
}

.Tags__listItem {
  border-radius: 3px;
  border: solid 1px $primary-color;
  color: $primary-color;
  padding: 5px;
  margin-right: 5px;
  margin: 5px 5px 5px 0;
}

.Tags__listItem:hover {
  color: $secondary-color;
  border-color: $secondary-color;
}