---
layout: default
title: GMG is introducing himself
---

<article class="About">
  <section class="About__section">
    <h1 class="About__title">Hi, I'm Guðmundur Már (or GMG)</h1>
    <p class="About__subtext">If letters in your name aren't in the English alphabet... Does your name change? Or do you have two names?</p>
    <div class="About__nameContainer">
      {% for name in site.data.about.name %}
        <div class="About__name">
          <div class="About__nameTitleContainer">
            <i class="fa {{ name.icon }} About__icon"></i>
            <h2 class="About__nameTitle">{{ name.title }}</h3>
          </div>
          <p>
            {{ name.content }}
          </p>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="About__section">
    <h1 class="About__title">So, here's a little bit about me...</h1>
    <p class="About__subtext">Brief summary: I'm a programmer who likes to teach, play my own music, work with people, and play soccer until my ankles give away.</p>
    <div class="About__activityContainer">
      {% for activity in site.data.about.activities %}
        <div class="About__activity">
          <div class="About__activityTitleContainer">
            <i class="fa {{ activity.icon }} About__icon"></i>
            <h2 class="About__activityTitle">{{ activity.title }}</h3>
          </div>
          <p>
            {{ activity.content }}
          </p>
        </div>
      {% endfor %}
    </div>
  </section>
</article>