<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="app">
    {% include header.html %}
    <div id="content">
      {{ content }}
    </div>
    {% include footer.html %}
    </div>
    <script type="text/javascript" src="{{site.baseurl}}/public/plugins/prism/min/prism-min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/public/plugins/vue/vue.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/public/js/frontpage.js"></script>
  </body>
</html>