<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script type="text/javascript" src="/public/plugins/prism/min/prism-min.js"></script>
    <script type="text/javascript" src="/public/plugins/jquery/jquery_1.10.2.js"></script>
    <script type="text/javascript" src="/public/js/typewriter.js"></script>
    <script type="text/javascript" src="/public/js/type_hover.js"></script>
  </body>
</html>