---
layout: default
---

<section class="Frontpage">
  <h1 v-bind:class="['Frontpage__title', false && 'Frontpage__title--topbar']">GMG.is{%raw%}{{ path }}{%endraw%}<span class="Frontpage__cursor">|</span>
  </h1>
  <h2>Welcome to my site. </h2>
  <p class="Frontpage__subtext">
    I set this up to be able to easily to try new things, and share my <a href="/thinking">thoughts</a>. You can find <a href="//github.com/gudmundurmar/gmg.is">the source code on Github</a> where you can <a href="//github.com/gudmundurmar/gmg.is/issues">open issues or ask questions</a>. I also made a tutorial if you want to <a href="/making-a-site">make your own site</a>
  </p>
  <div class="Frontpage__links">
    <div class="Frontpage__person">
      {% include svg/GMG_face.svg %}
      {% include svg/hand.svg %}
    </div>
  </div>
</section>