---
layout: default
---

<article class="Project">
  <a href="/practicing" class="Project__back"><- See more projects</a>
  <div class="Project__titleContainer">
    <h1 class="Project__title">{{ page.title }}</h1>
    <div class="Project__imageAndLinkContainer">
      {% if page.image %}
        <div class="Project__image">
          {% include {{page.image}} %}
        </div>
      {% endif %}
      {% if page.link %}
        <a class="Project__link" href={{ page.link }}><i class="fa fa-external-link" aria-hidden="true"></i>
        {%if page.linktext %}
          {{page.linktext}}
        {% else %}
          Link to {{page.title}}
        {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
  <div class="Project__contentContainer">
    {{ page.content }}
  </div>
  <div class="Project__tags">
    {% for tag in page.tags%}
      <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="Project__tag">
        <i class="fa fa-tag" aria-hidden='true'></i>
        {{ tag }}
      </a>
    {% endfor %}
  </div>
</article>